@import '~SassConstants';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $light-grey;

  .box {
    font-family: $main-font;
    width: 350px;
    height: auto;
    border-radius: 5px;
    background-color: $white;
    padding: 30px;

    .heading {
      font-size: 20px;
      color: $navy-blue;
      margin-bottom: 15px;
    }

    .spacer {
      height: 10px;
    }

    .error {
      width: 100%;
      height: 18px;
      font-size: 14px;
      color: $red;
      margin: 15px 0;
    }
  }
}
