@import '~SassConstants';

.container {
  font-family: $main-font;
  margin: 20px 0;

  .download-link {
    &:hover {
      color: $navy-blue;
      cursor: pointer;
    }
  }

  .pagination {
    text-align: center;
    margin-top: 20px;
  }
}
