@import '~SassConstants';

.photo {
  width: 100%;
  max-width: 90vw;
  max-height: 90vh;
  margin: 0 auto 20px auto;
}

.photo-status {
  font-family: $main-font;
  font-size: 14px;
  color: $dark-grey;
  margin-bottom: 20px;
}
