@import '~SassConstants';

.container {
  font-family: $main-font;
  margin-bottom: 20px;

  .row {
    display: flex;
    align-items: center;

    &.margin-bottom {
      margin-bottom: 10px;
    }

    .description {
      color: $dark-grey;
      font-size: 14px;
      margin-bottom: 20px;
    }

    .drop-zone {
      width: 300px;
      background-color: $white;
      border: 1px solid $dark-grey;
      padding: 6px 10px;
      cursor: pointer;

      img {
        display: inline-block;
        vertical-align: middle;
        height: 26px;
        margin-right: 10px;
      }

      p {
        display: inline-block;
        vertical-align: middle;
        color: $dark-grey;
        font-size: 15px;
        user-select: none;
        margin: 0;
      }

      *:focus {
        outline: none;
      }
    }

    .buttons {
      display: flex;

      .spacer {
        width: 10px;
      }
    }

    .content-right {
      display: flex;
      align-items: center;
      margin-left: 10px;

      .text {
        color: $dark-grey;
        font-size: 14px;
      }
    }
  }
}
