@import '~SassConstants';

.content {
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 65px);
  padding: 20px;

  .top-section {
    .heading {
      font-size: 18px;
      color: $black;
      margin-bottom: 20px;
    }

    .info {
      display: flex;

      @media (max-width: 700px) {
        flex-direction: column;
        align-items: flex-start;
      }

      @media (min-width: 701px) {
        flex-direction: row;
        align-items: center;
      }

      .gopher {
        @media (max-width: 700px) {
          margin-bottom: 30px;
        }

        @media (min-width: 701px) {
          margin-right: 30px;
        }
      }

      .text {
        font-size: 16px;
        color: $dark-grey;
        max-width: 500px;

        a {
          color: $navy-blue !important;
          font-weight: 600;
          text-decoration: none;

          &:visited,
          &:hover,
          &:active {
            color: inherit;
          }
        }
      }
    }
  }
}
