@import '~SassConstants';

.container {
  font-family: $main-font;
  color: $black;

  .heading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .message {
    width: 300px;
    font-size: 14px;
    margin-bottom: 10px;

    &.italic {
      font-style: italic;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    font-size: 14px;
    line-height: 1.5;

    .names {
      text-align: right;
      max-width: 120px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
}
