@import '~SassConstants';

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 0 20px;

  .logout-icon {
    height: 14px;
    margin-left: 5px;
  }
}
