@import '~SassConstants';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $light-grey;

  img {
    max-height: 80vh;
  }

  .link {
    color: $navy-blue;
    font-size: 24px;
    font-weight: 600;
    margin-top: 40px;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
