@import '~SassConstants';

.container {
  .names-boxes {
    margin-bottom: 14px;
  }

  .tag-box {
    display: 'inline-block';
  }

  .site-name-plus {
    background: $white;
    border-style: dashed;
  }
}
