@import '~SassConstants';

.container {
  font-family: $main-font;
  color: $black;

  .heading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
}
