@import '~SassConstants';

.container {
  .actions {
    display: flex;
    justify-content: space-around;
    margin: auto;

    &.icons {
      max-width: 100px;
    }

    &.buttons {
      max-width: 150px;
    }
  }
}
